.bio {
    font-size: 20px;
    width: 80%;
    text-align: left;
}

.curs {
    text-align: right;
    margin: 20px;
    width: 20%;
}
header {
    justify-content: space-between;
    display: flex;

}

.kkk{
    width: 100%;
}