.bio {
    font-size: 20px;
    width: 80%;
    text-align: left;
}

.curs {
    text-align: right;
    margin: 20px;
    width: 20%;
}
header {
    justify-content: space-between;
    display: flex;
}

img{
    width: 15%;
    height: 15%;
    border-radius: 15%;
    filter: blur(1px);
}

.fotos {
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    position: static;
}

.foto-footer{
    width: 160px;
    height: 55px;
}